# Supabase (client)
NEXT_PUBLIC_SUPABASE_URL=https://xzyfefjgrlxjrhsfsbph.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6eWZlZmpncmx4anJoc2ZzYnBoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NTUxNzcsImV4cCI6MjA3ODUzMTE3N30.-jLepiP4JyxME_EkMvyzZZiqwp1gKBuBY849MKce7qo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6eWZlZmpncmx4anJoc2ZzYnBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjk1NTE3NywiZXhwIjoyMDc4NTMxMTc3fQ.feITqJYUdo5bylzztQChFDamJIsxngHd28Jed6p8k4g

# Clerk (frontend + secret)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2VjdXJlLWdhcmZpc2gtOC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_2lc6Shh92mSr5dBZivfDHRKn3vLgXZsxsVJ3YKtDRM

# OPENAI_API_KEY=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
OPENAI_API_KEY=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

